# dependencies
/node_modules
/frontend/node_modules
/admin/node_modules

# testing
/coverage

# production
/frontend/build
/admin/build

# misc
/backend/config/config.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/admin/.env.local
/admin/.env.development.local
/admin/.env.test.local
/admin/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
